* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.top-line{
    display: flex;
    align-items: center;
}

.top-line .header-ul {
    list-style-type: none;
    display: none;
    gap: 40px;
    position: relative;
}

.top-line .link {
    display: block;
    list-style-type: none;
    color: #2E2F42;
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line .studio {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line .link:hover {
    color: #404BBF;
}

.top-line .link:focus{
    color: #404BBF;
}

.top-line .studio::after {
    background-color: #404BBF;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.top-line .logo {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.top-line .logo span {
    color: #2E2F42;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address .link {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 24px;
    padding-top: 24px;
    /* display: block; */
    display: none;
}

.address .link:hover {
    color: #404BBF;
}

.address .link:focus {
    color: #404BBF;
}

.address .address-ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.menu-img {
    fill: #2F2F37;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: auto;
    padding: 72px 16px 40px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-top-button {
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-top-buttom:hover {
    border: none;
    background-color: #E7E9FC;
}

.mob-top-buttom:focus {
    border: none;
    background-color: #E7E9FC;
}

.mob-header-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

.mob-link {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    color:#404BBF;
}

.mob-link:hover {
    color:#404BBF;
}

.mob-link:focus {
    color: #404BBF;
}

.mob-address-ul {
    display: flex;
    gap: 24px;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 48px;
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #4D5AE5;
}

.address-link:focus {
    color: #4D5AE5;
}

.mob-social {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.mob-social-li {
    height: 40px;
    width: 40px;
}

.mob-social-li-a {
    height: 100%;
        width: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-li-a:hover {
    background-color: #31D0AA;
}

.mob-social-li-a:focus {
    background-color: #31D0AA;
}

.mob-social-icon {
    fill: #F4F4FD;
}

.main-page {
    /* max-width: 1440px; */
    max-width: 320px;
    background-color: #2E2F42;
    /* padding-bottom: 188px;
    padding-top: 188px; */
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;

    @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .main-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-mob-2x.jpg);
            }
        }
}



.main-page .title {
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;
}

.main-page .main-buttom {
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-page .main-buttom:hover {
    background-color: #404BBF;
}

.main-page .main-buttom:focus {
    background-color: #404BBF;
}

.features {
    /* padding-bottom: 120px;
    padding-top: 120px; */
    padding-bottom: 96px;
    padding-top: 96px;
}

.features .title {
    font-weight: 500;
    line-height: 1.2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features .features-ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.features-li .img-back {
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    display: none;
    align-items: center;
    justify-content: center;
}

.features .li-title {
    color: #2E2F42;
    /* font-size: 20px; */
    font-size: 36px;
    letter-spacing: 0.02em;
    /* font-weight: 500; */
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}

.features .li-text {
    font-weight: 500;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team ul {
    list-style-type: none;
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.team .title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team .team-li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    /* width: calc((100% - 3 * 24px) / 4); */
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .li-title {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team .text {   
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.team .social {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team .social-li {
    width: 40px;
    height: 40px;
}

.team .social-a {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-a:hover {
    background-color: #404BBF;
}

.team .social-a:focus {
    background-color: #404BBF;
}

.team .social-icon {
    fill: #F4F4FD;
}

.team .card-text {
    padding: 32px 0;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio .portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-li:hover .portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    position: absolute;
    transform: translateY(100%);
    height: 100%;
    top:0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .li-title {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-tit-text {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.footer {
    background-color: #2E2F42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .footer-items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .logo-portfolio {
    /* margin-right: 120px; */
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.footer .logo {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    display: inline-block;
}

.footer .logo .logo-end {
    color: #F4F4FD;
}

.footer .footer-text {
    color: #F4F4FD;
    /* max-width: 264px; */
    max-width: 288px;
    /* font-weight: 500; */
    font-weight: 400;
    margin-bottom: 72px;
}

.footer .footer-links {
    max-width: 208px;
}

.footer .social-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

.footer .footer-social {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-bottom: 72px;
}

.footer .social-li {
    height: 40px;
    width: 40px;
}

.footer .social-li-a {
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-li-a:hover {
    background-color: #31D0AA;
}

.footer .social-li-a:focus {
    background-color: #31D0AA;
}

.footer .social-icon {
    fill: #F4F4FD;
}

.footer-form-items {
    display: flex;
    /* flex-direction: row; */
    /* gap: 24px; */
    gap: 16px;
    flex-wrap: wrap;
    /* margin-left: 55px; */
    justify-content: center;
}


.footer-form-items .footer-input {
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    padding: 8px 16px;
    letter-spacing: 0.04em;
    line-height: 2;
    font-size: 12px;
    padding-left: 16px;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-items .footer-input::placeholder {
    color: #FFFFFF;
}

.footer-button {
    padding: 8px 24px;
    min-width: 165px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-button:hover {
    background-color: #404BBF;
}

.footer-button:focus {
    background-color: #404BBF;
}

.footer-button-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.modal {
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 16px 16px;
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-button {
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.top-button:hover {
    border: none;
    background-color: #404BBF;
}

.top-button:focus {
    border: none;
    background-color: #404BBF;
}

.top-button:hover .close-icon {
    fill: #ffffff;
}

.top-button:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    text-align: center;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-input {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    height: 40px;
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}


.label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-family: Roboto, sans-serif;
}

.input-field {
    position: relative;
}

.comment-items {
    margin-bottom: 16px;
}

.form-comment {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
    border-color:#4D5AE5;
}

.checkbox-area {
    left: 24px;
    margin-bottom: 24px;
}

.form-svg {
    outline: transparent;
    resize: none;
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus-within .form-svg {
    fill: #4D5AE5;
}


.input-place {
    position: relative;
    margin-bottom: 8px;
}

.check-privacy {
    display: block;
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    font-family: Roboto, sans-serif;
    gap: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-privacy:checked + .check-text .checkbox-span {
    border: none;
    background-color: #404BBF;
    fill: #F4F4FD;
}

.span-link{
    color: #4D5AE5;
}

.div-label {
    display: flex;
    flex-direction: column;
}

.bottom-button {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    font-family: Roboto, sans-serif;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}