* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-line {
    display: flex;
}

.top-line{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.top-line .header-ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    position: relative;
}

.top-line .link {
    list-style-type: none;
    color: #2E2F42;
    font-weight: 500;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line .studio {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line .link:hover {
    color: #404BBF;
}

.top-line .link:focus{
    color: #404BBF;
}

.top-line .studio::after {
    background-color: #404BBF;
    display: block;
    width: 100%;
    height: 4px;
    content: "";
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.top-line .logo {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.top-line .logo span {
    color: #2E2F42;
}

.address {
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: auto;
}

.address .link {
    text-decoration: none;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover {
    color: #404BBF;
}

.address .link:focus {
    color: #404BBF;
}

.address .address-ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.main-page {
    max-width: 1440px;
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people_office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.main-page .title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-page .main-buttom {
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-page .main-buttom:hover {
    background-color: #404BBF;
}

.main-page .main-buttom:focus {
    background-color: #404BBF;
}

.features{
    padding-bottom: 120px;
    padding-top: 120px;
}

.features .title {
    font-weight: 500;
    line-height: 1.2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features .features-ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.features .features-li {
    width: calc((100% - 3 * 24px) / 4);
}

.features-li .img-back {
    padding-left: 24px;
    padding-right: 24px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .li-title {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.team .title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team .team-li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team .li-title {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team .text {   
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}

.team .social {
    display: flex;
    justify-content: center;
}

.team .social-li {
    width: 40px;
    height: 40px;
}

.team .social-a {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-a:hover {
    background-color: #404BBF;
}

.team .social-a:focus {
    background-color: #404BBF;
}

.team .social-icon {
    fill: #F4F4FD;
}

.team .card-text {
    padding: 32px 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio .portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-li:hover .portfolio-img-text {
    transform: translateY(0%);
}

.portfolio-li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);   
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    position: absolute;
    transform: translateY(100%);
    height: 100%;
    top:0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .li-title {
    color: #2E2F42;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-tit-text {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .footer-items {
    display: flex;
    align-items: baseline;
}

.footer .logo-portfolio {
    margin-right: 120px;
}
.footer .logo {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo .logo-end {
    color: #F4F4FD;
}

.footer .footer-text {
    color: #F4F4FD;
    max-width: 264px;
    font-weight: 500;
}

.footer .footer.links {
    max-width: 208px;
}

.footer .social-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: 500;
}

.footer .footer-social {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer .social-li {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer .social-li-a {
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-li-a:hover {
    background-color: #31D0AA;
}

.footer .social-li-a:hover {
    background-color: #31D0AA;
}

.footer .icon-links {
    fill: #F4F4FD;
}